@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    color: var(--color-text);
    box-sizing: border-box;
}

body {
    background-color: var(--color-darkbg);
    padding: 0;
    width: 100%;
}

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

:root {
    --grad: linear-gradient(to top right, #f7e043, #f709b7, #8f10ec);
    --color-text: rgb(255 255 255);
    --color-dim: rgb(255 255 255 / 80%);
    --color-green: #00ff88;
    --color-gray: #412567;
    --color-darkbg: #1A0B2E;
    --color-darkbg2: #230E3D;
    --color-darkbg3: #35116570;
    --width-max: 1440px;
    --width-medium: 800px;
    --width-small: 440px;

}

.flex {
    display: flex;
}

/* HEADER STYLES */
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 200px;
    border-bottom: 2px solid var(--color-gray);
    box-sizing: border-box;
    text-align: center;
}

.brand-text {
    color: var(--color-text);
    font-size: 44px;
}

.text-color {
    background: var(--grad);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn-primary {
    background: var(--grad);
    padding: 12px 16px;
    border-radius: 1000px;
    color: var(--color-text);
    border: none;
    font-weight: 600;
    cursor: pointer;
}

.nav-box {
    gap: 32px;
    list-style-type: none;
}

.nav-item a {
    text-decoration: none;
    color: var(--color-text);
    font-weight: 500;
}

.hamburger {
    display: none;
}

/* SMALL DEVICE - HEADER */
@media screen and (max-width: 576px) {
    header {
        padding: 16px 20px;
    }

    .brand-text {
        font-size: 24px;
    }

    header .btn-primary {
        display: none;
    }

    nav {
        display: none;
    }

    .hamburger {
        width: 18px;
        display: block;
        cursor: pointer;
    }
}

/* MEDIUM DEVICE - HEADER */
@media (min-width: 577px) and (max-width: 992px) {
    header {
        padding: 20px 40px;
    }

    .brand-text {
        font-size: 32px;
    }
}

/* BANNER */
.banner {
    text-align: center;
    background-color: var(--color-darkbg3);
    background-image: url(../assets/hero-bg.png);
    width: 100%;
    height: 760px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-img-box {
    position: relative;
    height: 350px;
    width: 350px;
    display: block;
    margin-bottom: 40px;
}

.banner-img-box img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
}

.banner-img-box img:first-child {
    width: 100%;
    border: 4px solid #2A186C;
    border-radius: 100%;
}

.banner-img-box img:last-child {
    width: 100%;
    z-index: 2;
}

.badge-new {
    position: absolute;
    top: 10%;
    right: 6%;
    z-index: 5;
    padding: 6px 14px;
    color: var(--color-darkbg);
    background: linear-gradient(135deg, var(--color-green), #00d18f);
    border-radius: 999px;
    box-shadow: 1 6px 18px rgba(0, 255, 179, 0.35);
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    80% {
        transform: scale(1.25);
    }

    100% {
        transform: scale(1);
    }
}

.badge-new {
    animation: pulse 2s ease-in-out infinite;
}

.banner-text-box {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.banner .brand-text {
    font-size: 60px;
    line-height: 35px;
    margin-top: 40px;
}

.btn-box {
    justify-content: center;
    justify-items: center;
    gap: 8px;
}

.banner .btn-primary {
    padding: 12px 20px;
}

.btn-secondary {
    border: var(--color-green) solid 1px;
    border-radius: 1000px;
    background-color: transparent;
    font-weight: 500;
    padding: 12px 20px;
    cursor: pointer;
}

/* SMALL DEVICE - BANNER */
@media screen and (max-width: 576px) {
    .banner {
        max-width: var(--width-medium);
        max-height: 580px;
        margin: 0 auto;

    }

    .banner-img-box {
        position: relative;
        height: 260px;
        width: 260px;
        display: block;
        margin-bottom: 24px;
    }

    .banner-img-box img {
        position: absolute;
        top: 57%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 100%;
    }

    .banner-img-box .circle {
        width: 100%;
        height: 100%;
        border: 1px solid #2A186C;
    }

    .banner-img-box .mic {
        height: 70px;
    }

    .badge-new {
        top: 10%;
        right: 6%;
    }

    .banner-text-box {
        padding: 0 20px 0;
    }

    .banner .brand-text {
        font-size: 35px;
        margin-top: 40px;
    }
}

/* MEDIUM DEVICE - BANNER */
@media (min-width: 577px) and (max-width: 992px) {
    .banner {
        max-width: var(--width-medium);
        max-height: 580px;
        margin: 0 auto;

    }

    .banner-img-box {
        position: relative;
        height: 260px;
        width: 260px;
        display: block;
        margin-bottom: 24px;
    }

    .banner-img-box img {
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 100%;
    }

    .banner-img-box .circle {
        width: 100%;
        height: 100%;
        border: 1px solid #2A186C;
    }

    .banner-img-box .mic {
        height: 70px;
    }

    .badge-new {
        top: 10%;
        right: 6%;
    }

    .banner-text-box {
        padding: 0 40px 0;
    }

    .banner .brand-text {
        font-size: 55px;
        margin-top: 40px;
    }
}

/* ABOUT */
.about {
    width: 100%;
    padding: 0 200px;
}

.about-text {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 50px 200px 0;
}

.section-heading {
    font-size: 48px;
    text-align: center;
}

hr {
    margin: 80px 0;
    border: 0.1px solid var(--color-gray);
}

.about-stat {
    display: flex;
    justify-content: space-between;
    gap: 80px;
    padding: 0 0 120px;
}

.stat-info {
    text-align: center;
}

.stat-count {
    font-size: 48px;
    font-weight: 900;
    display: block;
    margin-bottom: 16px;
}

.text-green {
    color: var(--color-green);
}

.stat-sub {
    color: var(--color-dim);
}

/* SMALL DEVICE - ABOUT */
@media screen and (max-width: 576px) {
    .about {
        max-width: var(--width-small);
        padding: 40px 20px;
        margin: 0 auto;
    }

    .about-text {
        padding: 0;
    }

    .section-heading {
        font-size: 32px;
    }

    hr {
        margin: 40px 0;
        border: 1px solid var(--color-gray);
    }

    .about-stat {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 40px;
        padding: 0;
    }

    .stat-info {
        text-align: center;
    }

    .stat-count {
        font-size: 60px;
        font-weight: 800;
    }
}

/* MEDIUM DEVICE - ABGOUT */
@media (min-width: 577px) and (max-width: 992px) {
    .about {
        max-width: var(--width-medium);
        padding: 40px 40px;
        margin: 0 auto;
    }

    .about-text {
        padding: 0;
    }

    .section-heading {
        font-size: 40px;
    }

    hr {
        margin: 50px 0;
        border: 1px solid var(--color-gray);
    }

    .about-stat {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 40px;
        padding: 0;
    }

    .stat-info {
        text-align: center;
    }

    .stat-count {
        font-size: 40px;
        font-weight: 800;
    }
}

/* CHOICE */
.choice {
    width: 100%;
    padding: 120px 200px;
    background-color: var(--color-darkbg2);
}

.cards-box {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 30px;
    grid-template-areas:
        "long wide wide"
        "long wide2 wide2"
        "wide3 wide3 norm";
}

.long {
    grid-area: long;
}

.wide {
    grid-area: wide;
}

.wide2 {
    grid-area: wide2;
}

.wide3 {
    grid-area: wide3;
}

.norm {
    grid-area: norm;
}

.card {
    background-color: var(--color-darkbg3);
    padding: 40px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}

.card img {
    width: fit-content;
    height: auto;
}

.card-heading {
    font-size: 24px;
}

.card-detail {
    color: var(--color-dim);
    line-height: 24px;
}


/* SMALL DEVICE - CHOICE */
@media screen and (max-width: 576px) {
    .choice {
        padding: 40px 20px;
        max-width: var(--width-small);
        margin: 0 auto;
    }

    .cards-box {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(5, auto);
        gap: 16px;
        grid-template-areas:
            "long"
            "wide"
            "wide2"
            "wide3"
            "norm";
    }

    .card {
        padding: 24px;
    }

    .card-heading {
        font-size: 22px;
    }
}

/* MEDIUM DEVICE - CHOICE */
@media (min-width: 577px) and (max-width: 992px) {
    .choice {
        padding: 40px 40px;
        max-width: var(--width-medium);
        margin: 0 auto;
    }

    .cards-box {
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        grid-template-areas:
            "long wide"
            "wide2 wide2"
            "wide3 norm";
    }

    .long {
        grid-area: long;
    }

    .wide {
        grid-area: wide;
    }

    .wide2 {
        grid-area: wide2;
    }

    .wide3 {
        grid-area: wide3;
    }

    .norm {
        grid-area: norm;
    }


    .card {
        padding: 24px;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .card-heading {
        font-size: 22px;
    }
}

/* FEATURES STYLES */
.feature {
    max-width: var(--width-max);
    padding: 120px 200px;
    margin: 0 auto;

}

.iframe-box {
    display: flex;
    gap: 30px;
    margin-top: 40px;
    justify-content: center;
}

.video-card {
    width: 360px;
    background-color: var(--color-darkbg3);
    border-radius: 40px;
}

.video-frame {
    width: 100%;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    border-radius: 8px;
}

.video-frame iframe {
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 40px 40px 0 0;
}

.card-heading {
    font-size: 20px;
}

.video-card-text {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

/* SMALL DEVICE - FEATURES */
@media screen and (max-width: 576px) {
    .feature {
        padding: 40px 20px;
        max-width: var(--width-small);
        margin: 0 auto;
    }

    .iframe-box {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-top: 24px;
        justify-content: center;
        align-items: center;
    }

    .video-card {
        width: 100%;
        border-radius: 20px;

    }

    .video-card iframe {
        border-radius: 20px 20px 0 0;
    }

    .video-card-text {
        padding: 16px;
        gap: 8px;
        width: 100%;
        height: 168px;
        overflow: hidden;
    }

    .video-card-text p {
        display: -webkit-box;
        display: box;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        -webkit-box-orient: vertical;
        box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

}

/* MEDIUM DEVICE - FEATURES */
@media (min-width: 577px) and (max-width: 992px) {
    .feature {
        padding: 40px 40px;
        max-width: var(--width-small);
        margin: 0 auto;
    }

    .iframe-box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        gap: 20px;
        margin-top: 24px;
        justify-content: center;
        align-items: center;
        margin-top: 24px;
    }


    .video-card {
        max-width: 310px;
        background-color: var(--color-darkbg3);
        border-radius: 40px;
    }

    .video-frame {
        width: 100%;
        aspect-ratio: 16 / 9;
        overflow: hidden;
        border-radius: 8px;
    }

    .video-card iframe {
        border-radius: 20px 20px 0 0;
    }

    .video-card-text {
        padding: 16px;
        gap: 8px;
        width: 100%;
        height: 168px;
        overflow: hidden;
    }

    .video-card-text p {
        display: -webkit-box;
        display: box;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        -webkit-box-orient: vertical;
        box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

/* HSOT - STYLES */
.host {
    padding: 0 200px 0;
    width: 100%;
    margin: 0 auto;
}

.host-info {
    background-color: var(--color-darkbg3);
    border-radius: 40px;
    padding: 40px;
    margin-top: 40px;
    width: 100%;
    display: flex;
    gap: 24px;
}

.host-name {
    font-size: 32px;
}

.host-data {
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: left;
}

.host-links {
    display: flex;
    gap: 8px;
}

.host-links a {
    border: 2px solid #533C72;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    text-decoration: none;

}

.host-links a img {
    object-fit: contain;

}

/* SMALL DEVICE - HOST */
@media screen and (max-width: 576px) {
    .host {
        max-width: var(--width-small);
        padding: 40px 20px;
        margin: 0 auto;
    }

    .host-info {
        background-color: var(--color-darkbg3);
        padding: 24px;
        margin-top: 24px;
        border-radius: 24px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        justify-content: center;
    }

    .host-info img {
        width: 150px;
        height: auto;
        align-self: center;
    }

    .host-name {
        font-size: 32px;
    }

    .host-data {
        display: flex;
        flex-direction: column;
        gap: 16px;
        text-align: center;
    }

    .host-links {
        display: flex;
        gap: 8px;
        justify-content: center;
        align-items: center;
    }

    .host-links a {
        border: 2px solid #533C72;
        border-radius: 50%;
        width: 44px;
        height: 44px;
        justify-content: center;
        align-items: center;
        display: inline-flex;
        text-decoration: none;

    }

    .host-links a img {
        width: 20px;
        object-fit: contain;

    }

}

/* MEDIUM DEVICE - HOST */
@media (min-width: 577px) and (max-width: 992px) {
    .host {
        max-width: var(--width-medium);
        padding: 20px 40px;
        margin: 0 auto;
    }

    .host-info {
        background-color: var(--color-darkbg3);
        padding: 24px;
        margin-top: 24px;
        border-radius: 24px;
        display: flex;
        gap: 16px;
        justify-content: center;
    }

    .host-info img {
        width: 200px;
        height: auto;
        align-self: center;
    }

    .host-name {
        font-size: 32px;
    }

    .host-data {
        display: flex;
        flex-direction: column;
        gap: 16px;
        text-align: left;
        padding: 16px;
    }

    .host-links {
        display: flex;
        gap: 8px;
        justify-content: left;
        align-items: left;
    }

    .host-links a {
        border: 2px solid #533C72;
        border-radius: 50%;
        width: 44px;
        height: 44px;
        justify-content: center;
        align-items: center;
        display: inline-flex;
        text-decoration: none;

    }

    .host-links a img {
        width: 20px;
        object-fit: contain;

    }
}

/* FOOTER STYLES */
footer {
    background-image: url(../assets/footer-bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 412px;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

footer .brand-text {
    font-size: 80px;
    line-height: 0.8;
}

.links-box {
    align-items: center;
    gap: 40px;
}

.link-group {
    gap: 40px;
}

.links-box a {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.links-box a img {
    margin-right: 8px;
}

.copyright {
    color: rgb(250 250 250 / 60%);
}

/* SMALL DEVICE - FOOTER */
@media screen and (max-width: 576px) {
    footer {
        background-image: url(../assets/footer-bg.png);
        background-position: center center;
        width: 100%;
        height: 248px;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 24px;
    }

    footer .brand-text {
        font-size: 48px;
    }

    .links-box {
        flex-direction: column;
        gap: 16px;
    }

    .link-group {
        gap: 16px;
    }
}

/* MEDIUM DEVICE - FOOTER */
@media (min-width: 577px) and (max-width: 992px) {
    footer {
        background-image: url(../assets/footer-bg.png);
        background-position: center center;
        width: 100%;
        height: 260px;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 24px;
    }

    footer .brand-text {
        font-size: 62px;
    }

    .links-box {
        flex-direction: column;
        gap: 16px;
    }

    .link-group {
        gap: 16px;
    }
}